html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
*,*::after, *::before {
  box-sizing: inherit;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
ul, li{
  list-style: none;
}
a {
  text-decoration: none;
}
